.git
.gitignore
node_modules
webapp/node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock
.wrangler
.wrangler*
playwright-report
test-results
tests
*.local
*.swp
*.DS_Store
build
coverage
